/*-- scss:defaults --*/

$white:    #FFFFFF!default;
/*-- $gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default; --*/
$black:    #2767AD !default;


$primary: #FFFFFF!default;
$secondary:  #2767AD !default;

$navbar-bg: $primary;

$body-bg: #2767AD !default;
$body-color: #FFFFFF!default;


$headings-font-family: Bevan !default;
$font-family-base: Poppins !default;


/*-- scss:rules --*/
div.quarto-post .listing-categories .listing-category {
  color:#FFFFFF !important;
  border:solid 1px #ffffff;
  border-radius:.25rem;
  text-transform:uppercase;
  font-size:.65em;
  padding-left:.5em;
  padding-right:.5em;
  padding-top:.15em;
  padding-bottom:.15em;
  cursor:pointer;
  margin-right:4px;
  margin-bottom:4px
}

div.quarto-post {
  display: flex;
  gap: 2em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #FFFFFF;
}

h1 {
  font-size: 2.25rem;
}